<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813534227335-atfc9squos9bbesbutsk0l455589vnba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813534227335-atfc9squos9bbesbutsk0l455589vnba</string>
	<key>API_KEY</key>
	<string>AIzaSyAS9PU1AicTjinjBzbTMKpN4QMcmuUEmfk</string>
	<key>GCM_SENDER_ID</key>
	<string>813534227335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.nadsoft.peloton</string>
	<key>PROJECT_ID</key>
	<string>sequelproduction</string>
	<key>STORAGE_BUCKET</key>
	<string>sequelproduction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:813534227335:ios:a885984905e14413da0122</string>
	<key>DATABASE_URL</key>
	<string>https://sequelproduction.firebaseio.com</string>
</dict>
</plist>
